#heroes-wrapper {
    .button+.button {
        margin-left: 70px;
    }
  
    #title {
        text-align: center;
        width: 100%;
        font-size: 100px;
        text-shadow: black 20px 20px, black -20px -20px;
    }
 
    .button {
        font-size: 40px;
        font-family: inherit;
        height: 80px;
        line-height: 80px;
        width: 300px;
        border: none;
	}
	
	.focused-button {
		color: white;
		background-color: black;
		border: 5px white solid;
	}
}